Arranco importando pandas y metiendo los csv como dataframes.

In [1]:
import pandas as pd
import numpy as np
import re
import calendar
import seaborn as sb
import matplotlib.pyplot as plt
import pycaret as pc

In [2]:
df20182 = pd.read_csv(r"Dengue, Zika 2018 - 2.csv")
df2018 = pd.read_csv(r"Dengue, Zika 2018.csv")
df2019 = pd.read_csv(r"Dengue, Zika 2019.csv")
df2020 = pd.read_csv(r"Dengue, Zika 2020.csv")
df2021 = pd.read_csv(r"Dengue, Zika 2021.csv")
df2022 = pd.read_csv(r"Dengue, Zika 2022.csv")
df2023 = pd.read_csv(r"Dengue, Zika 2023.csv")
df2024 = pd.read_csv(r"Dengue, Zika 2024.csv")

Estandarizo el formato de prov_id y de id_depto dependiendo de si están fusionados o no en su csv.

In [3]:
### Hago String a todos los id_depto y prov_id de 2018

df2018['id_depto'] = df2018['id_depto'].values.astype(str)
df2018["prov_id"] = df2018["prov_id"].map(str)

### Aplico el zfill

df2018['id_depto'] = df2018['id_depto'].str.zfill(5)
df2018["prov_id"] = df2018 ["prov_id"].str.zfill(2)

### Hago String a todos los id_depto y prov_id de 2018-2

df20182["id_depto"] = df20182["id_depto"].astype(str)
df20182["prov_id"] = df20182["prov_id"].astype(str)

### Aplico el zfill

df20182['id_depto'] = df20182['id_depto'].str.zfill(3)
df20182['prov_id'] = df20182['prov_id'].str.zfill(2)

### Hago String a todos los id_depto y prov_id de 2019


df2019["id_depto"] = df2019["id_depto"].astype(str)
df2019["prov_id"] = df2019["prov_id"].astype(str)

### Aplico el zfill

df2019['id_depto'] = df2019['id_depto'].str.zfill(5)
df2019["prov_id"] = df2019 ["prov_id"].str.zfill(2)

### Hago String a todos los id_depto y prov_id de 2020

df2020["id_depto"] = df2020["id_depto"].astype(str)
df2020["prov_id"] = df2020["prov_id"].astype(str)

### Aplico el zfill

df2020["id_depto"] = df2020 ["id_depto"].str.zfill(5)
df2020["prov_id"] = df2020 ["prov_id"].str.zfill(2)

### Hago String a todos los id_depto y prov_id de 2021

df2021["id_depto"] = df2021["id_depto"].astype(str)
df2021["prov_id"] = df2021["prov_id"].astype(str)

### Aplico el zfill

df2021["id_depto"] = df2021 ["id_depto"].str.zfill(5)
df2021["prov_id"] = df2021 ["prov_id"].str.zfill(2)

### Hago String a todos los id_depto y prov_id de 2022

df2022["id_depto"] = df2022["id_depto"].astype(str)
df2022["prov_id"] = df2022["prov_id"].astype(str)

### Aplico el zfill

df2022["id_depto"] = df2022 ["id_depto"].str.zfill(3)
df2022["prov_id"] = df2022 ["prov_id"].str.zfill(2)

### Hago String a todos los id_depto y prov_id de 2023

df2023["id_depto"] = df2023["id_depto"].astype(str)
df2023["prov_id"] = df2023["prov_id"].astype(str)

### Aplico el zfill

df2023["id_depto"] = df2023 ["id_depto"].str.zfill(5)
df2023["prov_id"] = df2023 ["prov_id"].str.zfill(2)

### Hago String a todos los id_depto y prov_id de 2024

df2024["id_depto"] = df2024["id_depto"].astype(str)
df2024["prov_id"] = df2024["prov_id"].astype(str)

### Aplico el zfill

df2024["id_depto"] = df2024 ["id_depto"].str.zfill(3)
df2024["prov_id"] = df2024 ["prov_id"].str.zfill(2)

Concateno todos los df en uno sólo:

In [4]:
TablaCompleta = pd.concat([df20182, df2018, df2019, df2020, df2021, df2022, df2023, df2024])

In [5]:
TablaCompleta

,id_depto,depto,prov_id,prov,año,semanas,evento,edad_id,edad_desc,cantidad
0,000,*sin dato*,06,Buenos Aires,2018,11,Dengue,10,De 45 a 64 años,1.0
1,035,Avellaneda,06,Buenos Aires,2018,7,Dengue,8,De 20 a 24 años,1.0
2,035,Avellaneda,06,Buenos Aires,2018,7,Dengue,10,De 45 a 64 años,1.0
3,035,Avellaneda,06,Buenos Aires,2018,9,Dengue,6,De 10 a 14 años,1.0
4,035,Avellaneda,06,Buenos Aires,2018,9,Dengue,8,De 20 a 24 años,1.0
...,...,...,...,...,...,...,...,...,...,...
26961,035,Patiño,34,Formosa,2024,10,Dengue,4,De 2 a 4 años,1.0
26962,091,Maipú,22,Chaco,2024,1,Dengue,9,De 25 a 34 años,1.0
26963,014,Bermejo,22,Chaco,2024,17,Dengue,5,De 5 a 9 años,1.0
26964,043,Fray Justo Santa María de Oro,22,Chaco,2024,12,Dengue,9,De 25 a 34 años,1.0
26965,084,Libertador General San Martín,22,Chaco,2024,4,Dengue,3,De 13 a 24 meses,1.0

Termino de estandarizar el formato de id_depto agregandole prov_id a todos los id_depto donde no estaba originalmente

In [6]:
# Encuentro dónde tiene una longitud de 3 caracteres
idcorto = TablaCompleta['id_depto'].str.len() == 3

# Junto los prov_id con el id_depto en las id_depto donde tiene una longitud de 3 caracteres
TablaCompleta.loc[idcorto, 'id_depto'] =  TablaCompleta.loc[idcorto, 'prov_id'] + TablaCompleta.loc[idcorto, 'id_depto']

Info (para ver los elementos no nulos)

In [7]:
TablaCompleta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45860 entries, 0 to 26965
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_depto   45860 non-null  object
 1   depto      45860 non-null  object
 2   prov_id    45860 non-null  object
 3   prov       45860 non-null  object
 4   año        45860 non-null  int64
 5   semanas    45860 non-null  object
 6   evento     45860 non-null  object
 7   edad_id    45858 non-null  object
 8   edad_desc  45860 non-null  object
 9   cantidad   45859 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 3.8+ MB

Describe (Para ver datos generales de la tabla)

In [8]:
TablaCompleta.describe()

                año      cantidad
count  45860.000000  45859.000000
mean    2022.525534     11.058920
std        1.985661     43.354523
min     2018.000000      1.000000
25%     2020.000000      1.000000
50%     2024.000000      2.000000
75%     2024.000000      7.000000
max     2024.000000   2226.000000

Código para transformar el dataframe en un csv

In [9]:
TablaCompleta.to_csv("CSVs Creados/TablaCompleta.csv", index=False)

Creo una serie que contiene la cantidad de veces que se repite cada provincia

In [10]:
# Cuento cuantas veces sale cada prov
CantProv = TablaCompleta['prov'].value_counts()
CantProv

prov
Buenos Aires           8220
Chaco                  5709
Salta                  3595
Misiones               3508
Santa Fe               3296
CABA                   3020
Córdoba                2973
Formosa                2544
Tucumán                2507
Corrientes             1798
Entre Ríos             1572
Jujuy                  1344
Santiago del Estero    1287
Catamarca               967
La Rioja                867
Mendoza                 565
San Juan                544
San Luis                385
desconocida             258
La Pampa                221
Santa Cruz              198
Tierra del Fuego        147
Chubut                  112
Neuquén                 111
Río Negro                64
SAnta Fe                 30
C�rdoba                   8
(en blanco)               5
DESCONOCIDA               2
desconocidoo              1
SAnta Cruz                1
desconocido               1
Name: count, dtype: int64

El siguiente paso es agrupar las provincias con su valor correcto (SAnta Cruz con Santa Cruz; juntar los desconocidos, etc.)

In [11]:
# Estandarizo las Mayusculas  
TablaCompleta['prov'] = TablaCompleta['prov'].str.replace(r'([a-z])([A-Z])', r'\1 \2', regex=True).str.title()

In [12]:
# Corrijo los errores
TablaCompleta['prov'] = TablaCompleta['prov'].replace('(En Blanco)', 'Desconocida')
TablaCompleta['prov'] = TablaCompleta['prov'].replace('Desconocido', 'Desconocida')
TablaCompleta['prov'] = TablaCompleta['prov'].replace('Desconocidoo', 'Desconocida')
TablaCompleta['prov'] = TablaCompleta['prov'].replace('Desconocida', pd.NA)
TablaCompleta['prov'] = TablaCompleta['prov'].replace('Caba', 'CABA')
TablaCompleta['prov'] = TablaCompleta['prov'].replace('C�Rdoba', 'Córdoba')

Limpieza de 'prov' completa.

Hago lo mismo para depto

In [13]:
CantDepto = TablaCompleta['depto'].value_counts()
CantDepto

depto
Capital                    3276
San Fernando                697
Formosa                     643
Grl. José de San Martín     628
desconocido                 614
                           ...
Jose C. Paz                   1
General Pueyrredon            1
Exaltacion de la Cruz         1
CHICLIGASTA                   1
General Guido                 1
Name: count, Length: 485, dtype: int64

In [14]:
TablaCompleta['depto'] = TablaCompleta['depto'].str.replace(r'([a-z])([A-Z])', r'\1 \2', regex=True).str.title()

In [15]:
TablaCompleta['depto'] = TablaCompleta['depto'].replace('(En Blanco)', 'Desconocida')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Desconocido', 'Desconocida')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Desconocidoo', 'Desconocida')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Desconocida', pd.NA)
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Jun�N', 'Junín')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Santa Mar�A', 'Santa María')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Ituzaing�', 'Ituzaingo')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Lan�S', 'Lanús')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Mor�N', 'Morón')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Col�N', 'Colón')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Or�N', 'Orán')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Guaran�', 'Guaraní')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Constituci�N', 'Constitución')

Ahora, notamos como en algunos casos; 'Dengue' figura en la columna 'semanas' en vez de en la de 'evento' (y vice-versa); trataremos de arreglar esto:

In [16]:
# Agarro las filas donde evento está compuesto por nros
filas_malas = TablaCompleta['evento'].str.isnumeric()

# Hago un df temporal con las filas que tienen mal la información
temp_df = TablaCompleta.loc[filas_malas, ['evento', 'semanas']]

# Switcheo los nombres de las columnas del df temporal para que quede bien
temp_df = temp_df.rename(columns={'evento': 'semanas', 'semanas': 'evento'})

# Reinserto el df temporal en el df original
TablaCompleta.loc[filas_malas, ['evento', 'semanas']] = temp_df

Lo mismo pasa con las edades y edad_id

In [17]:
# Agarro las filas donde edad_desc está compuesto por nros
filas_malas = TablaCompleta['edad_desc'].str.isnumeric()

# Hago un df temporal con las filas que tienen mal la información
temp_df = TablaCompleta.loc[filas_malas, ['edad_desc', 'edad_id']]

# Switcheo los nombres de las columnas del df temporal para que quede bien
temp_df = temp_df.rename(columns={'edad_desc': 'edad_id', 'edad_id': 'edad_desc'})

# Reinserto el df temporal en el df original
TablaCompleta.loc[filas_malas, ['edad_desc', 'edad_id']] = temp_df

# Filleo los valores nulos de la columna 'edad_id' con 0
TablaCompleta['edad_id'] = TablaCompleta['edad_id'].fillna(0)

# Filleo los valores nulos de la columna 'edad_desc' con 'Desconocido/Sin Especificar'
TablaCompleta['edad_desc'] = TablaCompleta['edad_desc'].fillna('Desconocido/Sin Especificar')

Estandarizo ahora más detalles de las columnas de edades:

In [18]:
TablaCompleta['edad_desc'] = TablaCompleta['edad_desc'].str.replace('anos', 'años', regex=True, flags=re.IGNORECASE)
TablaCompleta['edad_desc'] = TablaCompleta['edad_desc'].str.replace('ano', 'año', regex=True, flags=re.IGNORECASE)

# Estandarizo las mayúsculas de edad_desc

TablaCompleta['edad_desc'] = TablaCompleta['edad_desc'].str.title()

'''  Ahora me aseguro que el mismo nro. de edad_id se corresponda con la misma descripción; dónde: 
0- Desconocido/Sin Especificar
1- Menor a 1 año
2- 1 a 2 años
3- 2 a 4 años
4- 5 a 9 años
5- 10 a 14 años
6- 15 a 24 años
7- 25 a 34 años
8- 35 a 44 años
9- 45 a 64 años
10- Mayor o igual a 65
'''

condition = TablaCompleta['edad_desc'].str.contains('1 a 2 años', case=False, regex=False)
TablaCompleta['edad_id'] = np.where(condition, 2, TablaCompleta['edad_id'])

condition = TablaCompleta['edad_desc'].str.contains('2 a 4 años', case=False, regex=False)
TablaCompleta['edad_id'] = np.where(condition, 3, TablaCompleta['edad_id'])

condition = TablaCompleta['edad_desc'].str.contains('13 a 24', case=False, regex=False)
TablaCompleta['edad_id'] = np.where(condition, 3, TablaCompleta['edad_id'])
TablaCompleta['edad_desc'] = np.where(condition, '1 a 2 años', TablaCompleta['edad_desc'])

condition = TablaCompleta['edad_desc'].str.contains('5 a 9 años', case=False, regex=False)
TablaCompleta['edad_id'] = np.where(condition, 4, TablaCompleta['edad_id'])

condition = TablaCompleta['edad_desc'].str.contains('10 a 14 años', case=False, regex=False)
TablaCompleta['edad_id'] = np.where(condition, 5, TablaCompleta['edad_id'])

condition = (TablaCompleta['edad_desc'].str.contains('15 a', case=False, regex=False) | 
             TablaCompleta['edad_desc'].str.contains('24', case=False, regex=False))
TablaCompleta['edad_id'] = np.where(condition, 6, TablaCompleta['edad_id'])
TablaCompleta['edad_desc'] = np.where(condition, 'De 15 a 24 años', TablaCompleta['edad_desc'])

condition = TablaCompleta['edad_desc'].str.contains('25 a 34 años', case=False, regex=False)
TablaCompleta['edad_id'] = np.where(condition, 7, TablaCompleta['edad_id'])

condition = TablaCompleta['edad_desc'].str.contains('35 a 44 años', case=False, regex=False)
TablaCompleta['edad_id'] = np.where(condition, 8, TablaCompleta['edad_id'])

condition = TablaCompleta['edad_desc'].str.contains('45 a 64 años', case=False, regex=False)
TablaCompleta['edad_id'] = np.where(condition, 9, TablaCompleta['edad_id'])

condition = TablaCompleta['edad_desc'].str.contains('65', case=False, regex=False)
TablaCompleta['edad_id'] = np.where(condition, 10, TablaCompleta['edad_id'])
TablaCompleta['edad_desc'] = np.where(condition, 'Mayor a 65 años', TablaCompleta['edad_desc'])

condition = TablaCompleta['edad_desc'].str.contains('nato', case=False, regex=False)
TablaCompleta['edad_id'] = np.where(condition, 1, TablaCompleta['edad_id'])
TablaCompleta['edad_desc'] = np.where(condition, 'Menor a 1 año', TablaCompleta['edad_desc'])

condition = TablaCompleta['edad_desc'].str.contains('menor', case=False, regex=False)
TablaCompleta['edad_desc'] = np.where(condition, 'Menor a 1 año', TablaCompleta['edad_desc'])

condition = TablaCompleta['edad_desc'].str.contains('-', case=False, regex=False)
TablaCompleta['edad_desc'] = np.where(condition, 'Desconocido/Sin Especificar', TablaCompleta['edad_desc'])


condition = TablaCompleta['edad_desc'].str.contains('Sin', case=False, regex=False)
TablaCompleta['edad_id'] = np.where(condition, 0, TablaCompleta['edad_id'])
TablaCompleta['edad_desc'] = np.where(condition, 'Desconocido/Sin Especificar', TablaCompleta['edad_desc'])

In [19]:
# Limpio eventos

condition = TablaCompleta['evento'].str.contains('Zi', case=False, regex=False)
TablaCompleta['evento'] = np.where(condition, 'Zika', TablaCompleta['evento'])


condition = TablaCompleta['evento'].str.contains('Den', case=False, regex=False)
TablaCompleta['evento'] = np.where(condition, 'Dengue', TablaCompleta['evento'])

In [20]:
# Creo una mascara para identificar los valores donde los últimos 3 dígitos de id_depto son 000 (y por ende la ubicación es desconocida)
mask = TablaCompleta['id_depto'].astype(str).str[-3:] == '000'

# Anulo las instancias donde se cumple la mascara
TablaCompleta.loc[mask, 'depto'] = pd.NA

# Me fijo cuantos valores nulos y no-nulos quedan en la tabla
total_null_values = TablaCompleta.isnull().sum().sum()
print(f"Total number of null values in the DataFrame: {total_null_values}")

non_null_values = TablaCompleta.notna().sum().sum()
print(f"Non-null values in the 'prov' column:\n{non_null_values}")

#Cómo representan un porcentaje no significativo, los dropeo
TablaCompleta = TablaCompleta.dropna() 

# Convert the 'id_depto' column to string
TablaCompleta['id_depto'] = TablaCompleta['id_depto'].astype(str)

# Veo cuantas veces no se sabe la provincia
id00 = TablaCompleta['id_depto'].str.startswith('00').sum()

# Notamos que en la tabla hay instancias de algunos deptos donde falta que el id_depto identifique la provincia
condition = TablaCompleta['depto'].str.contains('matanza', case=False, regex=False)
TablaCompleta['depto'] = np.where(condition, 'La Matanza', TablaCompleta['depto'])
TablaCompleta['id_depto'] = np.where(condition, '06427', TablaCompleta['id_depto'])

condition = (TablaCompleta['depto'] == ('Comuna 1'))
TablaCompleta['id_depto'] = np.where(condition, '02001', TablaCompleta['id_depto'])


print(f"The 'id_depto' column starts with '00' {id00} times.")

# Acomodo las Comunas (que el estandar varía según que año de documentación)

# Arranco convirtiendolo en un string para poder aplicarle startswith
TablaCompleta['id_depto'] = TablaCompleta['id_depto'].astype(str)

# Creo la mascara
mask = TablaCompleta['id_depto'].str.startswith('020') & TablaCompleta['id_depto'].str[3:].apply(lambda x: x.isdigit() and 1 <= int(x) <= 15)

# Actualizo la columna deptos
TablaCompleta.loc[mask, 'depto'] = 'Comuna ' + TablaCompleta.loc[mask, 'id_depto'].str[3:]

# Como solo hay 35 instancias en las que id_depto arranca con 00, los nulifico y elimino a todos
id00 = TablaCompleta['id_depto'].str.startswith('00').sum()
TablaCompleta['id_depto'] = np.where(condition, pd.NA, TablaCompleta['id_depto'])
TablaCompleta = TablaCompleta.dropna()

Total number of null values in the DataFrame: 950
Non-null values in the 'prov' column:
457650
The 'id_depto' column starts with '00' 35 times.

Paso siguiente: Reducir la granularidad (Pasar semanas -> meses)

In [21]:
# Convierto las semanas a meses

TablaCompleta['mes'] = TablaCompleta['semanas'].astype(int).apply(lambda x: calendar.month_name[((x - 1) // 4 + 1) % 12 or 12])

# Elimino la columna semanas (Ya qué se volvió irrelevante)
TablaCompleta = TablaCompleta.drop('semanas', axis=1)

Una vez hecho esto; reviso cómo está quedando la TablaCompleta y la vuelvo a pasar a un csv:

In [22]:
TablaCompleta

,id_depto,depto,prov_id,prov,año,evento,edad_id,edad_desc,cantidad,mes
1,06035,Avellaneda,06,Buenos Aires,2018,Dengue,6,De 15 a 24 años,1.0,February
2,06035,Avellaneda,06,Buenos Aires,2018,Dengue,9,De 45 A 64 Años,1.0,February
3,06035,Avellaneda,06,Buenos Aires,2018,Dengue,5,De 10 A 14 Años,1.0,March
4,06035,Avellaneda,06,Buenos Aires,2018,Dengue,6,De 15 a 24 años,1.0,March
5,06035,Avellaneda,06,Buenos Aires,2018,Dengue,7,De 25 A 34 Años,1.0,March
...,...,...,...,...,...,...,...,...,...,...
26961,34035,Patiño,34,Formosa,2024,Dengue,3,De 2 A 4 Años,1.0,March
26962,22091,Maipú,22,Chaco,2024,Dengue,7,De 25 A 34 Años,1.0,January
26963,22014,Bermejo,22,Chaco,2024,Dengue,4,De 5 A 9 Años,1.0,May
26964,22043,Fray Justo Santa María De Oro,22,Chaco,2024,Dengue,7,De 25 A 34 Años,1.0,March
26965,22084,Libertador General San Martín,22,Chaco,2024,Dengue,3,1 a 2 años,1.0,January

In [23]:
TablaCompleta.to_csv("CSVs Creados/TablaCompleta.csv", index=False)

# Siguientes objetivos:

1) Añadir Dataset de lluvias, humedad y de temperaturas por provincia (o departamento) anualizado para el período que cubren los datasets de dengue. (2018 - 2024) (Esperando respuesta del SMN) Respuesta recibida el lunes. Integración de las nuevas tablas al trabajo para la próxima entrega.

2) Normalizar todas las tablas

3) Gráficos y Análisis Exploratorio

4) Reconocimiento de patrones (clasificación, regresión, clustering, etc) 

5) Evaluación e interpretación de métricas

6) Armar modelo predictivo y gráficos finales

7) Dashboard

# Acá van a ir las transformaciones necesarias para incluir los datos del SMN

# Normalizo las tablas:

### Se crean los df nuevos

In [24]:
Provincias = TablaCompleta[['prov_id', 'prov']].drop_duplicates().reset_index(drop = True).sort_values(by='prov_id')
Departamentos = TablaCompleta[['id_depto', 'depto']].drop_duplicates().reset_index(drop = True).sort_values(by='id_depto')
Edades = TablaCompleta[['edad_id', 'edad_desc']].drop_duplicates().reset_index(drop=True).sort_values(by='edad_id')
Eventos = TablaCompleta[['evento']].drop_duplicates().reset_index(drop = True)
Reportes = TablaCompleta[['prov_id','id_depto', 'año', 'mes', 'evento', 'edad_id', 'cantidad']]
Reportes['id_reporte'] = range(1, len(Reportes) + 1)

In [25]:
Departamentos.sample(5)

    id_depto        depto
190    06679    Rivadavia
480    42119  Quemú Quemú
501    86126  Ojo De Agua
6      06427   La Matanza
45     30015    Concordia

### Se exportan los df normalizados como csv:

In [26]:
Provincias.to_csv('CSVs Creados/Provincias.csv', index=False)
Departamentos.to_csv('CSVs Creados/Departamentos.csv', index=False)
Edades.to_csv('CSVs Creados/Edades.csv', index=False)
Eventos.to_csv('CSVs Creados/Eventos.csv', index=False)
Reportes.to_csv('CSVs Creados/Reportes.csv', index=False)

# Gráficos y Analisis exploratorio

In [29]:
CantProv = Reportes['prov_id'].value_counts()
CantProv

prov_id
06    8165
22    5692
66    3571
54    3508
82    3326
14    2924
02    2544
34    2519
90    2450
18    1780
30    1563
38    1342
86    1275
10     964
46     864
50     560
70     541
74     385
42     221
78     198
94     144
26     112
58     111
62      64
33       1
32       1
31       1
Name: count, dtype: int64