Arranco importando pandas y metiendo los csv como dataframes.

In [2]:
import pandas as pd
import numpy as np
import re
import calendar

In [3]:
df20182 = pd.read_csv(r"Dengue, Zika 2018 - 2.csv")
df2018 = pd.read_csv(r"Dengue, Zika 2018.csv")
df2019 = pd.read_csv(r"Dengue, Zika 2019.csv")
df2020 = pd.read_csv(r"Dengue, Zika 2020.csv")
df2021 = pd.read_csv(r"Dengue, Zika 2021.csv")
df2022 = pd.read_csv(r"Dengue, Zika 2022.csv")
df2023 = pd.read_csv(r"Dengue, Zika 2023.csv")
df2024 = pd.read_csv(r"Dengue, Zika 2024.csv")

Estandarizo el formato de prov_id y de id_depto dependiendo de si están fusionados o no en su csv.

In [4]:
### Hago String a todos los id_depto y prov_id de 2018

df2018['id_depto'] = df2018['id_depto'].values.astype(str)
df2018["prov_id"] = df2018["prov_id"].map(str)

### Aplico el zfill

df2018['id_depto'] = df2018['id_depto'].str.zfill(5)
df2018["prov_id"] = df2018 ["prov_id"].str.zfill(2)

### Hago String a todos los id_depto y prov_id de 2018-2

df20182["id_depto"] = df20182["id_depto"].astype(str)
df20182["prov_id"] = df20182["prov_id"].astype(str)

### Aplico el zfill

df20182['id_depto'] = df20182['id_depto'].str.zfill(3)
df20182['prov_id'] = df20182['prov_id'].str.zfill(2)

### Hago String a todos los id_depto y prov_id de 2019


df2019["id_depto"] = df2019["id_depto"].astype(str)
df2019["prov_id"] = df2019["prov_id"].astype(str)

### Aplico el zfill

df2019['id_depto'] = df2019['id_depto'].str.zfill(5)
df2019["prov_id"] = df2019 ["prov_id"].str.zfill(2)

### Hago String a todos los id_depto y prov_id de 2020

df2020["id_depto"] = df2020["id_depto"].astype(str)
df2020["prov_id"] = df2020["prov_id"].astype(str)

### Aplico el zfill

df2020["id_depto"] = df2020 ["id_depto"].str.zfill(5)
df2020["prov_id"] = df2020 ["prov_id"].str.zfill(2)

### Hago String a todos los id_depto y prov_id de 2021

df2021["id_depto"] = df2021["id_depto"].astype(str)
df2021["prov_id"] = df2021["prov_id"].astype(str)

### Aplico el zfill

df2021["id_depto"] = df2021 ["id_depto"].str.zfill(5)
df2021["prov_id"] = df2021 ["prov_id"].str.zfill(2)

### Hago String a todos los id_depto y prov_id de 2022

df2022["id_depto"] = df2022["id_depto"].astype(str)
df2022["prov_id"] = df2022["prov_id"].astype(str)

### Aplico el zfill

df2022["id_depto"] = df2022 ["id_depto"].str.zfill(3)
df2022["prov_id"] = df2022 ["prov_id"].str.zfill(2)

### Hago String a todos los id_depto y prov_id de 2023

df2023["id_depto"] = df2023["id_depto"].astype(str)
df2023["prov_id"] = df2023["prov_id"].astype(str)

### Aplico el zfill

df2023["id_depto"] = df2023 ["id_depto"].str.zfill(5)
df2023["prov_id"] = df2023 ["prov_id"].str.zfill(2)

### Hago String a todos los id_depto y prov_id de 2024

df2024["id_depto"] = df2024["id_depto"].astype(str)
df2024["prov_id"] = df2024["prov_id"].astype(str)

### Aplico el zfill

df2024["id_depto"] = df2024 ["id_depto"].str.zfill(3)
df2024["prov_id"] = df2024 ["prov_id"].str.zfill(2)

Concateno todos los df en uno sólo:

In [5]:
TablaCompleta = pd.concat([df20182, df2018, df2019, df2020, df2021, df2022, df2023, df2024])

In [6]:
TablaCompleta

,id_depto,depto,prov_id,prov,año,semanas,evento,edad_id,edad_desc,cantidad
0,000,*sin dato*,06,Buenos Aires,2018,11,Dengue,10,De 45 a 64 años,1.0
1,035,Avellaneda,06,Buenos Aires,2018,7,Dengue,8,De 20 a 24 años,1.0
2,035,Avellaneda,06,Buenos Aires,2018,7,Dengue,10,De 45 a 64 años,1.0
3,035,Avellaneda,06,Buenos Aires,2018,9,Dengue,6,De 10 a 14 años,1.0
4,035,Avellaneda,06,Buenos Aires,2018,9,Dengue,8,De 20 a 24 años,1.0
...,...,...,...,...,...,...,...,...,...,...
26961,035,Patiño,34,Formosa,2024,10,Dengue,4,De 2 a 4 años,1.0
26962,091,Maipú,22,Chaco,2024,1,Dengue,9,De 25 a 34 años,1.0
26963,014,Bermejo,22,Chaco,2024,17,Dengue,5,De 5 a 9 años,1.0
26964,043,Fray Justo Santa María de Oro,22,Chaco,2024,12,Dengue,9,De 25 a 34 años,1.0
26965,084,Libertador General San Martín,22,Chaco,2024,4,Dengue,3,De 13 a 24 meses,1.0

Termino de estandarizar el formato de id_depto agregandole prov_id a todos los id_depto donde no estaba originalmente

In [7]:
# Encuentro dónde tiene una longitud de 3 caracteres
idcorto = TablaCompleta['id_depto'].str.len() == 3

# Junto los prov_id con el id_depto en las id_depto donde tiene una longitud de 3 caracteres
TablaCompleta.loc[idcorto, 'id_depto'] =  TablaCompleta.loc[idcorto, 'prov_id'] + TablaCompleta.loc[idcorto, 'id_depto']

Info (para ver los elementos no nulos)

In [8]:
TablaCompleta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45860 entries, 0 to 26965
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_depto   45860 non-null  object
 1   depto      45860 non-null  object
 2   prov_id    45860 non-null  object
 3   prov       45860 non-null  object
 4   año        45860 non-null  int64
 5   semanas    45860 non-null  object
 6   evento     45860 non-null  object
 7   edad_id    45858 non-null  object
 8   edad_desc  45860 non-null  object
 9   cantidad   45859 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 3.8+ MB

Describe (Para ver datos generales de la tabla)

In [9]:
TablaCompleta.describe()

                año      cantidad
count  45860.000000  45859.000000
mean    2022.525534     11.058920
std        1.985661     43.354523
min     2018.000000      1.000000
25%     2020.000000      1.000000
50%     2024.000000      2.000000
75%     2024.000000      7.000000
max     2024.000000   2226.000000

Código para transformar el dataframe en un csv

In [10]:
TablaCompleta.to_csv("CSVs Creados/TablaCompleta.csv", index=False)

Creo una serie que contiene la cantidad de veces que se repite cada provincia

In [11]:
# Count the frequency of each element in the "column_name" column
CantProv = TablaCompleta['prov'].value_counts()
CantProv

prov
Buenos Aires           8220
Chaco                  5709
Salta                  3595
Misiones               3508
Santa Fe               3296
CABA                   3020
Córdoba                2973
Formosa                2544
Tucumán                2507
Corrientes             1798
Entre Ríos             1572
Jujuy                  1344
Santiago del Estero    1287
Catamarca               967
La Rioja                867
Mendoza                 565
San Juan                544
San Luis                385
desconocida             258
La Pampa                221
Santa Cruz              198
Tierra del Fuego        147
Chubut                  112
Neuquén                 111
Río Negro                64
SAnta Fe                 30
C�rdoba                   8
(en blanco)               5
DESCONOCIDA               2
desconocidoo              1
desconocido               1
SAnta Cruz                1
Name: count, dtype: int64

El siguiente paso es agrupar las provincias con su valor correcto (SAnta Cruz con Santa Cruz; juntar los desconocidos, etc.)

In [12]:
# Estandarizo las Mayusculas  
TablaCompleta['prov'] = TablaCompleta['prov'].str.replace(r'([a-z])([A-Z])', r'\1 \2', regex=True).str.title()

In [13]:
# Corrijo los errores
TablaCompleta['prov'] = TablaCompleta['prov'].replace('(En Blanco)', 'Desconocida')
TablaCompleta['prov'] = TablaCompleta['prov'].replace('Desconocido', 'Desconocida')
TablaCompleta['prov'] = TablaCompleta['prov'].replace('Desconocidoo', 'Desconocida')
TablaCompleta['prov'] = TablaCompleta['prov'].replace('Desconocida', pd.NA)
TablaCompleta['prov'] = TablaCompleta['prov'].replace('Caba', 'CABA')
TablaCompleta['prov'] = TablaCompleta['prov'].replace('C�Rdoba', 'Córdoba')

Limpieza de 'prov' completa.

Hago lo mismo para depto

In [14]:
CantDepto = TablaCompleta['depto'].value_counts()
CantDepto

depto
Capital                    3276
San Fernando                697
Formosa                     643
Grl. José de San Martín     628
desconocido                 614
                           ...
Tres Lomas                    1
Lobería                       1
Lezama                        1
Picunches                     1
General Guido                 1
Name: count, Length: 485, dtype: int64

In [15]:
TablaCompleta['depto'] = TablaCompleta['depto'].str.replace(r'([a-z])([A-Z])', r'\1 \2', regex=True).str.title()

In [16]:
TablaCompleta['depto'] = TablaCompleta['depto'].replace('(En Blanco)', 'Desconocida')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Desconocido', 'Desconocida')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Desconocidoo', 'Desconocida')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Desconocida', pd.NA)
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Jun�N', 'Junín')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Santa Mar�A', 'Santa María')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Ituzaing�', 'Ituzaingo')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Lan�S', 'Lanús')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Mor�N', 'Morón')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Col�N', 'Colón')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Or�N', 'Orán')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Guaran�', 'Guaraní')
TablaCompleta['depto'] = TablaCompleta['depto'].replace('Constituci�N', 'Constitución')

Ahora, notamos como en algunos casos; 'Dengue' figura en la columna 'semanas' en vez de en la de 'evento' (y vice-versa); trataremos de arreglar esto:

In [17]:
# Agarro las filas donde evento está compuesto por nros
filas_malas = TablaCompleta['evento'].str.isnumeric()

# Hago un df temporal con las filas que tienen mal la información
temp_df = TablaCompleta.loc[filas_malas, ['evento', 'semanas']]

# Switcheo los nombres de las columnas del df temporal para que quede bien
temp_df = temp_df.rename(columns={'evento': 'semanas', 'semanas': 'evento'})

# Reinserto el df temporal en el df original
TablaCompleta.loc[filas_malas, ['evento', 'semanas']] = temp_df

Paso siguiente: Reducir la granularidad (Pasar semanas -> meses)

In [18]:
# Convierto las semanas a meses

TablaCompleta['mes'] = TablaCompleta['semanas'].astype(int).apply(lambda x: calendar.month_name[((x - 1) // 4 + 1) % 12 or 12])

# Elimino la columna semanas (Ya qué se volvió irrelevante)
TablaCompleta = TablaCompleta.drop('semanas', axis=1)

Una vez hecho esto; reviso cómo está quedando la TablaCompleta y la vuelvo a pasar a un csv:

In [19]:
TablaCompleta

,id_depto,depto,prov_id,prov,año,evento,edad_id,edad_desc,cantidad,mes
0,06000,*Sin Dato*,06,Buenos Aires,2018,Dengue,10,De 45 a 64 años,1.0,March
1,06035,Avellaneda,06,Buenos Aires,2018,Dengue,8,De 20 a 24 años,1.0,February
2,06035,Avellaneda,06,Buenos Aires,2018,Dengue,10,De 45 a 64 años,1.0,February
3,06035,Avellaneda,06,Buenos Aires,2018,Dengue,6,De 10 a 14 años,1.0,March
4,06035,Avellaneda,06,Buenos Aires,2018,Dengue,8,De 20 a 24 años,1.0,March
...,...,...,...,...,...,...,...,...,...,...
26961,34035,Patiño,34,Formosa,2024,Dengue,4,De 2 a 4 años,1.0,March
26962,22091,Maipú,22,Chaco,2024,Dengue,9,De 25 a 34 años,1.0,January
26963,22014,Bermejo,22,Chaco,2024,Dengue,5,De 5 a 9 años,1.0,May
26964,22043,Fray Justo Santa María De Oro,22,Chaco,2024,Dengue,9,De 25 a 34 años,1.0,March
26965,22084,Libertador General San Martín,22,Chaco,2024,Dengue,3,De 13 a 24 meses,1.0,January

In [20]:
TablaCompleta.to_csv("CSVs Creados/TablaCompleta.csv", index=False)

In [32]:
Provincias = TablaCompleta[['prov_id', 'prov', 'id_depto']].drop_duplicates().reset_index(drop = True)
Departamentos = TablaCompleta[['id_depto', 'depto']].drop_duplicates().reset_index(drop = True)
Edades = TablaCompleta[['edad_id', 'edad_desc']].drop_duplicates().reset_index(drop = True)
Eventos = TablaCompleta[['evento']].drop_duplicates().reset_index(drop = True)
Reportes = TablaCompleta[['prov_id', 'año', 'mes', 'evento', 'edad_id', 'cantidad']]
Reportes['id_reporte'] = range(1, len(reportes) + 1)

/var/folders/46/9s45wmy9699b24x4g7424hym0000gn/T/ipykernel_3796/618856259.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Reportes['id_reporte'] = range(1, len(reportes) + 1)

In [33]:
Departamentos.sample(5)

    id_depto             depto
300    34042           Pilagás
260    18014  Berón De Astrada
432    18175             Sauce
174    06056      Bahía Blanca
588    06042          Ayacucho

In [34]:
Provincias.to_csv('CSVs Creados/Provincias.csv', index=False)
Departamentos.to_csv('CSVs Creados/Departamentos.csv', index=False)
Edades.to_csv('CSVs Creados/Edades.csv', index=False)
Eventos.to_csv('CSVs Creados/Eventos.csv', index=False)
Reportes.to_csv('CSVs Creados/Reportes.csv', index=False)

# Siguientes objetivos:

1) Añadir Dataset de lluvias, humedad y de temperaturas por provincia (o departamento) anualizado para el período que cubren los datasets de dengue. (2018 - 2024)

2) Normalizar todas las tablas

3) Gráficos y Análisis Exploratorio

4) Reconocimiento de patrones (clasificación, regresión, clustering, etc)

5) Evaluación e interpretación de métricas

6) Armar modelo predictivo y gráficos finales

7) Dashboard

# Datasets de meteorología

# Normalizar las Tablas:

- Tabla Deptos
- Tabla Provincias